#About {
    position: relative;
    height:  100%;

}

.about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Arrange 3 elements in each row */
}

.about-details-container {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.details-container {
    padding: 1.5rem;
    background: #E7F87E4D;
    border-radius: 2rem;
    text-align: center;
    box-shadow: 4px 4px 5px 0px #00000040;
    width: 90%; /* Set a percentage width for responsiveness */
    max-width:80%; /* Set a maximum width to prevent it from being too wide */
    margin: 0 auto;
}

.section-container {
    gap: 4rem;
    height: 80%;
}

.titles {
    font-family: "Roboto Slab", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 50px;
    text-align: center;
}
.details-container h3{
    font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
}
.details-container p{
    font-family: "Roboto Slab", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 25px;
}
.details-container:nth-child(1) {
    margin-right: 10px; 
}
.details-container:nth-child(2) { 
    margin-left: 10px; 
}.details-container:nth-child(3) { 
    margin-right: 10px; 
}
.details-container:nth-child(4) { 
    margin-left: 10px; 
}
